<section layout="row" layout-align="stretch" id="chat-container">
  <md-sidenav flex class="md-sidenav-left md-whiteframe-z2" md-component-id="nav" md-is-locked-open="$mdMedia('gt-sm')">
    <md-content layout-padding>

      <!-- Local Media -->
      <div class="video-wrapper">
        <md-whiteframe ng-class="{ speaking: vm.speaking }" class="md-whiteframe-3dp media-stream" flex layout layout-padding layout-align="flex-start center">
          <h3 class="md-title">{{ vm.currentUsername }}</h3>
        </md-whiteframe>
        <video ng-src="{{ vm.streamUrl | trustUrl }}" autoplay muted></video>
      </div>

      <!-- Remote Media -->
      <div ng-repeat="peer in vm.peers" class="video-wrapper">
        <md-whiteframe ng-class="{ speaking: peer.speaking }" class="md-whiteframe-3dp media-stream" flex layout layout-padding layout-align="flex-start center">
          <h3 class="md-title">{{ peer.username }}</h3>
        </md-whiteframe>
        <video ng-src="{{ peer.streamUrl | trustUrl }}" autoplay></video>
      </div>

    </md-content>
  </md-sidenav>
  <md-content layout="column" flex id="text-chat-wrapper" layout-padding>
      <md-whiteframe layout="column" flex class="md-whiteframe-3dp chat-history" scroll-glue layout-padding>
        <div flex></div>
        <div ng-repeat="message in vm.messages" layout="column" class="message-wrapper">
          <hr>
          <div layout="row" class="message-header" flex>
            <span><b>{{ message.sender }}</b></span>
            <span flex></span>
            <span class="timestamp">{{ message.time | timeAgo }}</span>
          </div>
          <span class="message-content" flex>{{ message.content }}</span>
        </div>
      </md-whiteframe>
      <md-whiteframe flex class="md-whiteframe-3dp chat-form" layout-padding>
        <form layout="column" layout-align="center stretch" ng-submit="vm.sendMessage()">
          <md-input-container class="message-content">
            <input type="text" ng-model="vm.content" ng-change="vm.onWhitespace()" ng-trim="false" placeholder="Send a message to the room...">
          </md-input-container>

          <!-- Link Loading Template -->
          <div layout="row" layout-align="center" ng-show="vm.previewState === vm.states.WAITING">
            <md-card class="link-preview">
              <md-card-header>
                <md-card-avatar>
                  <img src="images/icons/loading.svg">
                </md-card-avatar>
              </md-card-header>
            </md-card>
          </div>

          <!-- Link Preview Template -->
          <!-- <a href="{{ vm.preview.url }}"> -->
          <div layout="row" layout-align="center" ng-show="vm.previewState === vm.states.READY">
            <md-card class="link-preview">
              <md-card-header>
                <md-card-avatar ng-show="vm.preview.favicon">
                  <img ng-src="{{ vm.preview.favicon }}"/>
                </md-card-avatar>
                <md-card-header-text>
                  <span class="md-title">{{ vm.preview.sitename }}</span>
                  <a class="md-subhead" href="{{ vm.preview.hostname }}">{{ vm.preview.hostname | uppercase }}</a>
                </md-card-header-text>
              </md-card-header>
              <div layout="row" layout-align="center">
                <img ng-src="{{ vm.preview.images }}" class="md-card-image" onerror="this.style.display='none'">
              </div>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">{{ vm.preview.title }}</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-content>
                <p>{{ vm.preview.description }}</p>
              </md-card-content>
            </md-card>
          </div>
        <!-- </a> -->

          <div layout="row">
            <span flex></span>
            <md-button class="md-raised md-primary" ng-click="vm.sendMessage()">Send</md-button>
          </div>
        </form>
      </md-whiteframe>
  </md-content>
</section>
