<md-input-container class="md-block">
  <label>{{options.templateOptions.label}}</label>
  <formly-transclude></formly-transclude>
  <div ng-messages="options.formControl.$error" ng-if="options.validation.errorExistsAndShouldBeVisible">
    <div ng-messages-include="partials/validation.html"></div>
    <div ng-message="{{::name}}" ng-repeat="(name, message) in ::options.validation.messages">
      {{message(options.formControl.$viewValue, options.formControl.$modelValue, this)}}
    </div>
  </div>
</md-input-container>
