<md-grid-list
      md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"
      md-row-height-gt-md="1:1" md-row-height="1:1"
      md-gutter="12px" md-gutter-gt-sm="8px" >
  <md-grid-tile class="md-primary" md-rowspan="2" md-colspan="2" md-colspan-sm="1">
    <md-whiteframe class="md-whiteframe-3dp homepage-tile" flex layout layout-align="center center">
      <h1 class="md-display-4">Welcome<br>to<br>Bloop</h1>
    </md-whiteframe>
  </md-grid-tile>
  <md-grid-tile>
    <md-whiteframe class="md-whiteframe-3dp homepage-tile" flex layout layout-align="center center">
      <md-icon md-svg-src="images/icons/ic_keyboard_voice_48px.svg" class="s192" aria-label="Headset"></md-icon>
      <md-grid-tile-footer>
        <h3>Chat with friends using your computer's microphone</h3>
      </md-grid-tile-footer>
    </md-whiteframe>
  </md-grid-tile>
  <md-grid-tile>
    <md-whiteframe class="md-whiteframe-3dp homepage-tile" flex layout layout-align="center center">
      <md-icon md-svg-src="images/icons/ic_headset_mic_48px.svg" class="s192" aria-label="Headset"></md-icon>
      <md-grid-tile-footer>
        <h3>Supports most external microphones/headsets</h3>
      </md-grid-tile-footer>
    </md-whiteframe>
  </md-grid-tile>
  <md-grid-tile md-rowspan="2">
    <md-whiteframe class="md-whiteframe-3dp homepage-tile" flex layout layout-align="center center">
      <md-grid-tile-footer>
        <h3>#4: (2r x 1c)</h3>
      </md-grid-tile-footer>
    <md-whiteframe class="md-whiteframe-3dp homepage-tile" flex layout layout-align="center center">
  </md-grid-tile>
  <md-grid-tile md-rowspan="2" md-colspan="2" md-colspan-sm="1">
    <md-whiteframe class="md-whiteframe-3dp homepage-tile" flex layout layout-align="center center">
      <md-grid-tile-footer>
        <h3>#5: (2r x 2c)</h3>
      </md-grid-tile-footer>
    </md-whiteframe>
  </md-grid-tile>
  <md-grid-tile md-rowspan="2" >
    <md-whiteframe class="md-whiteframe-3dp homepage-tile" flex layout layout-align="center center">
      <md-grid-tile-footer>
        <h3>#6: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-whiteframe>
  </md-grid-tile>
</md-grid-list>


<!-- Home Screen Before Authentication -->
<!--<div ng-hide='vm.isAuthed()' ng-include="'partials/cover.html'"></div>
<div ng-show='vm.isAuthed()' ng-include="'partials/main.html'"></div>-->
