#chat-container {
  min-height: 100%;

  md-content#text-chat-wrapper {
    flex-grow: 1;
    align-items: stretch;
    background-color: #ddd;

    md-whiteframe {
      background-color: white;
    }

    .chat-history {
      flex-grow: 1;
      // flex-direction: column-reverse;
      overflow-y: scroll;

      .message-wrapper {
        min-height: 56px;

        .message-header {
          align-items: flex-start;

          .timestamp {
            color: #bbb;
            font-size: .8em;
          }
        }

        .message-content {
          overflow-wrap: break-word;
        }

        hr {
          width: 100%;
          margin: 8px 0px;
        }
      }
    }

    .chat-form {
      margin-top: 8px;
      flex-grow: 0;
    }
  }

  .message-content {
    flex-grow: 1;
    margin-bottom: 0px;
  }
}
